body,
html {
  height: 100%;
  width: 100%;
  justify-content: center;
}
#hd {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "bn choice lg";
  margin-top: 50px;
}
.banner {
  grid-area: bn;
}
.bnInfo {
  margin-left: 33%;
  margin-top: 8;
  font-size: 75px;
}
.pageSelection {
  grid-area: choice;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logInDiv {
  grid-area: lg;
}
.inputLogIn {
  margin-left: 12.5%;
  margin-top: 12.5%;
}
.currentUserDiv {
  margin-left: 33%;
  margin-top: 12.5%;
  font-size: 33px;
}

.listContainer {
  background-color: black;
  justify-content: center;
  height: 100px;
  width: 50%;
}
.mainPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "lifts journal";
}
.lifts {
  grid-area: lifts;
}
.journal {
  grid-area: journal;
}
.boxName {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 500px;
  height: 120px;
  border: 5px solid #969696;
  background: #d9dbda;
  margin: 10px;
  margin-left: 30%;
}
.logBox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 500px;
  height: 120px;
  border: 5px solid #969696;
  background: #d9dbda;
  margin: 10px;
  margin-left: 17%;
}

.input-1 {
  width: 100px;
}
